{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}



    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Page Header Box Start -->
                    <div class="page-header-box">
                        <h1 class="wow fadeInUp">Contact Us</h1>
                        <nav class="wow fadeInUp" data-wow-delay="0.25s">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index-2.html">home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">contact us</li>
                            </ol>
                        </nav>
                    </div>
                    <!-- Page Header Box End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    
    <!-- page Contact Us Start -->
    <div class="contact-information">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <!-- Conatct Info Item Start -->
                    <div class="contact-info-item wow fadeInUp">
                        <!-- Icon Box Start -->
                        <div class="icon-box">
                            <img src="images/icon-phone.svg" alt="">
                        </div>
                        <!-- Icon Box End -->

                        <!-- Contact Info Contant Start -->
                        <div class="contact-info-content">
                            <h3>Phone & Fax</h3>
                            <p>mobile : (+0)123 456 789</p>
                            <p>fax : +0 123 456 789 123</p>
                        </div>
                        <!-- Contact Info Contant End -->
                    </div>
                    <!-- Conatct Info Item End -->
                </div>

                <div class="col-lg-3 col-md-6">
                    <!-- Conatct Info Item Start -->
                    <div class="contact-info-item wow fadeInUp" data-wow-delay="0.2s">
                        <!-- Icon Box Start -->
                        <div class="icon-box">
                            <img src="images/icon-mail.svg" alt="">
                        </div>
                        <!-- Icon Box End -->

                        <!-- Contact Info Contant Start -->
                        <div class="contact-info-content">
                            <h3>mail address</h3>
                            <p>info@domainname.com</p>
                            <p>sales@domainname.com</p>
                        </div>
                        <!-- Contact Info Contant End -->
                    </div>
                    <!-- Conatct Info Item End -->
                </div>

                <div class="col-lg-3 col-md-6">
                    <!-- Conatct Info Item Start -->
                    <div class="contact-info-item wow fadeInUp" data-wow-delay="0.4s">
                        <!-- Icon Box Start -->
                        <div class="icon-box">
                            <img src="images/icon-location.svg" alt="">
                        </div>
                        <!-- Icon Box End -->

                        <!-- Contact Info Contant Start -->
                        <div class="contact-info-content">
                            <h3>our address</h3>
                            <p>80082 Denny Lake, Schusterchester, NE 92734</p>
                        </div>
                        <!-- Contact Info Contant End -->
                    </div>
                    <!-- Conatct Info Item End -->
                </div>

                <div class="col-lg-3 col-md-6">
                    <!-- Conatct Info Item Start -->
                    <div class="contact-info-item wow fadeInUp" data-wow-delay="0.6s">
                        <!-- Icon Box Start -->
                        <div class="icon-box">
                            <img src="images/icon-watch.svg" alt="">
                        </div>
                        <!-- Icon Box End -->

                        <!-- Contact Info Contant Start -->
                        <div class="contact-info-content">
                            <h3>office hour</h3>
                            <p>Sun - Thu 09 am - 06pm</p>
                            <p>Fri - Sat 4 pm - 10pm</p>
                        </div>
                        <!-- Contact Info Contant End -->
                    </div>
                    <!-- Conatct Info Item End -->
                </div>
            </div>
        </div>
    </div>
    <!-- page Contact Us End -->

    <!-- Contact Form Start -->
    <div class="conatct-us-form">
        <div class="container">
            <div class="row">
                <!-- Google Map Start -->
                <div class="col-lg-6">
                    <div class="google-map-iframe">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96737.10562045308!2d-74.08535042841811!3d40.739265258395164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sin!4v1703158537552!5m2!1sen!2sin" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <!-- Google Map End -->

                <!-- Contact Form Start -->
                <div class="col-lg-6">
                    <div class="contact-form">
                        <div class="contact-form-title">
                            <h3 class="wow fadeInUp">Start your journey with us</h3>
                        </div>
                        <!-- Contact Form Start -->
                        <form action="#" method="POST" data-toggle="validator" class="wow fadeInUp" data-wow-delay="0.25s">
                               {% csrf_token %}
                            <div class="row">
                                <div class="form-group col-md-6 mb-4">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Name" required>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group col-md-6 mb-4">
                                    <input type="email" name ="email" class="form-control" id="email" placeholder="Email" required>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group col-md-12 mb-4">
                                    <input type="text" name="subject" class="form-control" id="subject" placeholder="Subject" required>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group col-md-12 mb-5">
                                    <textarea name="message" class="form-control" id="message" rows="4" placeholder="Message"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="contact-form-btn">
                                        <button type="submit" class="btn-default"><span>submit now</span></button>
                                        <div id="msgSubmit" class="h3 hidden"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                         <!-- Contact Form End -->
                    </div>
                </div>
                <!-- Contact Form End -->
            </div>
        </div>
    </div>
    <!-- Contact Form End -->


{% endblock %}