{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}

    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Page Header Box Start -->
                    <div class="page-header-box">
                        <h1 class="wow fadeInUp">Our Services</h1>
                       
                    </div>
                    <!-- Page Header Box End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Page Service Start -->
     <div class="page-service">
        <div class="container">
            <div class="row">

                {% for service in services %}
                <div class="col-lg-4 col-md-6">
                    <!-- Service Item Start -->
                    <div class="service-item page-service-item wow fadeInUp">
                        <div class="icon-box">
                            <img src="{{ service.image.url }}" alt="">
                        </div>

                        <div class="service-category">
                            <a href="#">{{ service.catagory }}</a>
                        </div>

                        <div class="service-body">
                            <div class="service-content">
                                <h3>{{ service.title }}</h3>
                                <p>{{ service.description }}</p>
                            </div>
                            <div class="service-btn">
                                <a href="{% url 'web:service-single' service.id%}" class="readmore-btn">read more</a>
                            </div>
                        </div>                        
                    </div>
                    <!-- Service Item End -->
                </div>
                {% endfor %}

               
            </div>
        </div>
     </div>
    <!-- Page Service End -->

{% endblock %}