{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}

<!-- Page Header Start -->

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Page Header Box Start -->
                <div class="page-header-box">
                    <h1 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">{{work.title}}</h1>
                    <nav class="wow fadeInUp" data-wow-delay="0.25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'web:index' %}">home</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'web:works' %}">Works</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{work.title}}</li>
                        </ol>
                    </nav>
                </div>
                <!-- Page Header Box End -->
            </div>
        </div>
    </div>
</div>

<!-- Page Header End -->

<!-- Page Portfolio Single Section Start -->
<div class="page-portfolio-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Portfolio Single Featured Image Start -->
                <div class="portfolio-single-featured-image">
                    <figure class="image-anime reveal">
                        <img src="{{work.inner_page_main_image.url}}" alt="">
                    </figure>
                </div>
                <!-- Portfolio Single Featured Image End -->

                <!-- Portfolio Single Content Start -->
                <div class="portfolio-single-content">
                    <div class="row">
                        <div class="col-lg-9">
                            <!-- About Portfolio Content Start -->
                            <div class="about-portfolio-content">
                                <p class="wow fadeInUp">{{ work.description|linebreaksbr|safe  }}</p>

                            </div>
                            <!-- About Portfolio Content End -->
                        </div>
                        <div class="col-lg-3">
                            <!-- About Client Detail Start -->
                            <div class="about-client-detail wow fadeInUp" data-wow-delay="0.5s">
                                <ul>
                                    <li><span>client :</span> {{work.client}}</li>
                                    <li><span>Industry :</span> {{work.category}}</li>

                                    <li><span>date :</span> {{work.date}}</li>

                                </ul>
                            </div>
                            <!-- About Client Detail End -->
                        </div>
                    </div>
                </div>
                <!-- Portfolio Single Content End -->

                <!-- Portfolio Single Images Start -->
                <div class="portfolio-single-images">
                    <div class="row">


                        {% for related_image in work.workImage.all %}
                        <div class="col-md-6 col-6">
                            <!-- Portfolio Single Image Start -->
                            <div class="portfolio-single-image">
                                <figure class="reveal image-anime reveal">
                                    <img src="{{ related_image.work_related_images.url }}" alt="">
                                </figure>
                            </div>
                            <!-- Portfolio Single Image End -->
                        </div>
                        {% endfor %}


                    </div>
                </div>
                <!-- Portfolio Single Images End -->

                <!-- Portfolio Single Step Start -->
                <div class="portfolio-single-step">
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Portfolio Single Step Item Start -->
                            <div class="portfolio-single-step-item wow fadeInUp">
                                <div class="portfolio-single-step-no">
                                    <h2>01</h2>
                                </div>
                                <div class="portfolio-single-step-content">
                                    <p>Business Works delivers tailored solutions in strategic planning, digital marketing, and operational efficiency. We help businesses streamline processes, boost productivity, and achieve sustainable growth. With our expert guidance</p>
                                </div>
                            </div>
                            <!-- Portfolio Single Step Item End -->
                        </div>

                        <div class="col-lg-6">
                            <!-- Portfolio Single Step Item Start -->
                            <div class="portfolio-single-step-item wow fadeInUp" data-wow-delay="0.25s">
                                <div class="portfolio-single-step-no">
                                    <h2>02</h2>
                                </div>
                                <div class="portfolio-single-step-content">
                                    <p>Business Works specializes in providing comprehensive solutions that streamline operations, enhance productivity, and drive growth. Our services include strategic planning, digital marketing, and financial consulting, tailored to meet the unique needs of each client.</p>
                                </div>
                            </div>
                            <!-- Portfolio Single Step Item End -->
                        </div>
                    </div>
                </div>
                <!-- Portfolio Single Step End -->
            </div>
        </div>
    </div>
</div>
<!-- Page Portfolio Single Section End -->




{% endblock %}