{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}

<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Page Header Box Start -->
                <div class="page-header-box">
                    <h1 class="wow fadeInUp">Case Studies</h1>

                    <div class="row mx-auto" style="width: fit-content;">
                        <div class="col-6">

                            
                            <a href="" class="btn-default">Industries</a>
                        </div>

                        <div class="col-6">
                            <a href="" class="btn-default">Expertise</a>
                        </div>
                    </div>



                </div>
                <!-- Page Header Box End -->
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Page Portfolio Start -->
<div class="page-portfolio">
    <div class="container">
        <div class="row align-items-center">
            {% for work in works%}
            <div class="col-md-6">
                <!-- Our Work Item Start -->
                <div class="our-work-item">
                    <!-- Work Item Image Start -->
                    <div class="work-item-image">
                        <a href="{% url 'web:work-single' work.id%}" data-cursor-text="View">
                            <figure class="image-anime reveal">
                                <img src="{{ work.image.url }}" alt="">
                            </figure>
                        </a>

                        <!-- Work ReadMore Btn Start -->
                        <div class="work-readmore-btn">
                            <a href="portfolio-single.html"><img src="images/icon-plus.svg" alt=""></a>
                        </div>
                        <!-- Work ReadMore Btn End -->
                    </div>
                    <!-- Work Item Image End -->

                    <!-- Work Item Body Start -->
                    <div class="work-item-body wow fadeInUp">
                        <!-- Work Item Title Start -->
                        <div class="work-item-title">
                            <h3>{{ work.title }}</h3>
                        </div>
                        <!-- Work Item Title End -->

                        <!-- Work Item Tags Start -->
                        <div class="work-item-tags">
                            <ul>
                                <li>{{ work.catagory }}</li>
                            </ul>
                        </div>
                        <!-- Work Item Tags End -->
                    </div>
                    <!-- Work Item Body End -->

                    <!-- Work Item Content Start -->
                    <div class="work-item-content wow fadeInUp">
                        <p>{{ work.description }}</p>
                    </div>
                    <!-- Work Item Content End -->
                </div>
                <!-- Our Work Item End -->
            </div>
            {% endfor %}


        </div>
    </div>
</div>
<!-- Page Portfolio End -->

{% endblock %}