{% load static %}

<footer class="main-footer">
        <!-- Let's Work Together start -->
        <div class="footer-work-together">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Work Together Content Start -->
                        <div class="work-together-content">
                            <!-- Section Title start -->
                            <div class="section-title">
                                <h2>Let's Work Together</h2>
                            </div>
                            <!-- Section Title end -->

                            <!-- Work Together Btn Start -->
                            <div class="work-together-btn">
                                <a href="contact.html"><i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                            <!-- Work Together Btn End -->
                        </div>
                        <!-- Work Together Content End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Let's Work Together end -->

        <!-- Footer Main Start -->
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <!-- About Footer start -->
                        <div class="about-footer">
                            <div class="about-footer-header">
                                <!-- Footer Logo Start -->
                                <div class="footer-logo">
                                    <img src="{% static 'images/logodev.png' %}" alt="">
                                </div>
                                <!-- Footer Logo End -->

                                <!-- Footer Social List Start -->
                                <div class="footer-social-list">
                                    <ul>
                                        <li><a href="#"><i class="fa-brands fa-instagram"></i>instagram</a></li>
                                    </ul>
                                </div>
                                <!-- Footer Social List End -->
                            </div>

                            <!-- Footer Links start -->
                            <div class="footer-links">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="service.html">Services</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                            <!-- Footer Links end -->

                            <!-- About Footer Content Start -->
                            <div class="about-footer-content">
                                <p>Our collaborative approach ensures that we understand your unique vision and deliver
                                    tailored solutions that drive results.</p>
                            </div>
                            <!-- About Footer Content End -->
                        </div>
                        <!-- About Footer end -->
                    </div>

                    <div class="col-lg-5 ">
                        <!-- Footer Newsletter start -->
                        <div class="footer-newsletter">
                            <!-- Newsletter Content start -->
                            <div class="newsletter-content">
                                <h3>Newsletter</h3>
                                <p>Subscribe to our newsletter for exclusive content and updates.</p>
                            </div>
                            <!-- Newsletter Header end -->

                            <!-- Newsletter Form start -->
                            <div class="newsletter-form">
                                <form id="newsletterForm" action="#" method="POST">
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control" id="mail"
                                            placeholder="Enter Email" required="">
                                        <button type="submit" class="btn-default">subscribe</button>
                                    </div>
                                </form>
                            </div>
                            <!-- Newsletter Form end -->

                            <!-- Newsletter Content start -->
                            <div class="newsletter-form-content">
                                <p>We're excited to partner with you on your journey.</p>
                            </div>
                            <!-- Newsletter Content End -->
                        </div>
                        <!-- Footer Newsletter end -->
                    </div>
                </div>

                <!-- Footer Copyright Section Start -->
                <div class="footer-copyright">
                    <div class="row align-items-center">
                        <div class="col-lg-7">
                            <!-- Footer Privacy Policy Start -->
                            <div class="footer-privacy-policy">
                                <ul>

                                    <li><a href="#">Policy</a></li>
                                    <li><a href="#">Term & Condition</a></li>
                                </ul>
                            </div>
                            <!-- Footer Privacy Policy End -->
                        </div>

                        <div class="col-lg-5">
                            <!-- Footer Copyright Start -->
                            <div class="footer-copyright-text">
                                <p>Copyright © 2024 All Rights Reserved.</p>
                            </div>
                            <!-- Footer Copyright End -->
                        </div>
                    </div>
                </div>
                <!-- Footer Copyright Section End -->
            </div>
        </div>
        <!-- Footer Main End -->
    </footer>