{% load static %}

<!-- Header Start -->
<header class="main-header">
    <div class="header-sticky">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <!-- Logo Start -->
                <a class="navbar-brand" href="{% url 'web:index' %}">
                    <img src="{% static 'images/logodev.png' %}" alt="Logo">
                </a>
                <!-- Logo End -->

                <!-- Main Menu Start -->
                <div class="collapse navbar-collapse main-menu">
                    <div class="nav-menu-wrapper">
                        <ul class="navbar-nav mr-auto" id="menu">


                            <li class="nav-item"><a class="nav-link" href="{% url 'web:index' %}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'web:about' %}">About Us</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'web:services' %}">Services</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'web:works' %}">Works</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'web:works' %}">Careers</a></li>
                            <!-- <li class="nav-item"><a class="nav-link" href="{% url 'web:contact' %}">Contact Us</a></li> -->
                        </ul>
                    </div>
                    <!-- Header Btn Start -->
                    <div class="header-btn d-inline-flex">
                        <a href="{% url 'web:contact' %}" class="btn-default">Get a Quote</a>
                    </div>
                    <!-- Header Btn End -->
                </div>
                <!-- Main Menu End -->
                <div class="navbar-toggle"></div>
            </div>
        </nav>
        <div class="responsive-menu"></div>
    </div>
</header>
<!-- Header End -->